.main {
  width: 60%;
}

.todo {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  padding: 15px 20px;
  background: lightgrey;
  border-radius: 5px;
  text-align: left;
}
.body {
  font-size: 1.25rem;
  font-weight: 500;
  word-break: break-all;
  margin-bottom: 15px;
}
.number {
  font-weight: bold;
  font-size: 0.75rem;
  margin-right: 20px;
}

.date {
  opacity: .5;
  font-size: 0.75rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
