html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.main {
  padding-left: 30px;
  padding-right: 2em;
}

.App-header {
  margin-top: 20vh;
}

.App-link {
  color: #61dafb;
}

.App-footer-link {
  color: black;
  font-size: unset;
}

.App-footer-link:visited {
  color: gray;
  opacity: 0.5;
}

.App-footer {
  display: flex;
  margin-top: auto;
  padding: 20px 0;
}
